BasedOnStyle: LLVM
IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
BreakBeforeBraces: Allman
IndentCaseLabels: true
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: All
AccessModifierOffset: -4
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ColumnLimit: 80
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterClass: true
  AfterControlStatement: true
  AfterNamespace: true
  AfterFunction: true
  AfterStruct: true
  SplitEmptyFunction: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  AfterCaseLabel: true