# OSX stuff
*.DS_Store

#VSCode stuff
.vscode

# Node stuff
node_modules

# parcel stuff
.parcel-cache

# build stuff
*/build
/wasm/Makefile
/wasm/rive.make
/wasm/publish/rive.pure.min.mjs
/wasm/publish/rive.pure.min.js
/wasm/publish/rive.min.mjs
/wasm/publish/rive.min.js
/wasm/publish/rive.lean.min.mjs
/wasm/publish/rive.lean.min.js
/js/dist/rive.lean.dev.js.map
/js/dist/rive.lean.dev.js
/wasm/publish/rive.mjs
/wasm/publish/rive.wasm
/wasm/publish/rive.pure.mjs
/wasm/publish/rive.pure.js
/wasm/publish/rive.js
/js/src/rive.mjs
/js/src/rive_canvas.js
/js/dist/rive_canvas.js
/js/dist/rive_canvas.d.ts
/js/src/rive_canvas.d.ts
/js/dist/rive.wasm
/js/dist/rive.min.js.map
/js/dist/rive.min.js
/js/dist/rive.dev.js.map
/js/dist/rive.dev.js
/js/dist/rive.d.ts
/js/dist
/build
.cache
