* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.counter {
    position: absolute;
    color: white;
    z-index: 100
}

.fps {
    top: 0px;
}

.framems {
    top: 20px;
}
