html, body {
  margin: 0;
  height: 100%;
}
    
.centered {
  display: grid;
  place-items: center;
}

.bordered {
  border: 1px solid black;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}